
body {
    margin: 0;
    background: #840697;
    color: white;
    font-size: 40px;
    overflow: hidden;
}

#text {
    width: 100%;
    height: 80vh;
}

#display {
    transform: scaleX(-1);
    padding: 10px;
    padding-right: 5px;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;      
    word-wrap: break-word;   
    white-space: normal;     
    display: none;
    font-size: 40px; 
    text-align: center;
    background: black;
}

#display::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

#display {
    -ms-overflow-style: none;  /* IE e Edge antigo */
    scrollbar-width: none;     /* Firefox */
}

#display {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}


button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
}

#fullscreen_btn {
    display: block;
    margin: 20px auto;
}

#controls {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.4s ease;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
